<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список задач</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
padding-top: 70px;
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">ToDo</a>
    <a class="btn btn-outline-success me-2" href="/tasks/new">➕ Новая задача</a>
    <a class="btn btn-outline-danger me-2" href="/tasks/pomodoro">🍅 Таймер Помодоро</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-md-2" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary">Theme</button>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
    <tr>
      <th><a
          th:href="@{/tasks(sortField='id', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">ID</a>
      </th>
      <th><a th:href="@{/tasks(sortField='name', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">Название</a>
      </th>
      <th><a th:href="@{/tasks(sortField='comment', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">Комментарий</a>
      </th>
      <th><a
          th:href="@{/tasks(sortField='priority', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">Приоритет</a>
      </th>
      <th><a
          th:href="@{/tasks(sortField='teg', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">Тег</a>
      </th>
      <th><a th:href="@{/tasks(sortField='date', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">Дата</a>
      </th>
      <th><a></a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
      <td th:text="${task.id}"></td>
      <td>
        <a th:href="@{/tasks/{id}(id=${task.id})}">
          <i class="fas fa-eye"></i><span th:text="${task.name}"></span>
        </a>
      </td>
      <td th:text="${task.comment}"></td>
      <td>
    <span class="badge"
          th:text="${task.priority != null ? task.priority.title : 'Без приоритета'}"
          th:classappend="${task.priority != null ? (task.priority.name() == 'HIGH' ? 'text-bg-danger' :
                          (task.priority.name() == 'MIDDLE' ? 'text-bg-warning' : 'text-bg-success')) : 'text-bg-secondary'}">
    </span>
      </td>
      <td>
        <span class="badge bg-primary" th:text="${task.teg}"></span>
      </td>
      <td th:text="${#temporals.format(task.date, 'dd.MM.yyyy HH:mm')}"></td>
      <td>
        <form th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post"
              onsubmit="return confirm('Вы уверены, что хотите удалить эту задачу?');">
          <input type="hidden" name="_method" value="DELETE"/>
          <button type="submit" class="btn btn-outline-danger">Удалить</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
